html, body {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("fon.jpg");
    background-repeat: no-repeat;
    /* background-position: 50%; */
    background-size: cover;
    display: block;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    overflow: hidden;
  }
  
  body {
    overflow: auto; /* добавить полосу прокрутки */ 
  }

  .root{
    position : relative;
    /* z-index: 199; */
  }